body {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 300;
}

input {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #888;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 0.25em 10px;
    line-height: 1.5em;
}

label::after {
    content: ":";
}

div {
    margin-bottom: 10px;
}

.hsimp-time {
    display: inline;
    margin-left: 10px;
}

.hsimp-checks li {
    list-style: none;
}

.hsimp-checks h2 {
    font-size: 0.8em;
    margin-bottom: 0;
}

.hsimp-checks p {
    margin-top: 0;
    font-size: 0.7em;
}
.hsimp-level{color:#fff;color:rgba(255,255,255,0.9);transition:background .5s linear;background-color:#fff}.hsimp-level--bad,.hsimp-level--insecure{background-color:#c63136}.hsimp-level--ok{background-color:#de7b46}.hsimp-level--good{background-color:#2f8249}
